@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  h3 {
    @extend .Roboto500-24-28;
    margin-bottom: 44px;
  }
  .popupBody {
    width: 1063px;
    height: 866px;
    border-radius: 12px;
    border: $default-border;
    background: #fff;
    padding-left: 32px;
    .heading {
      display: flex;
      align-items: center;
      padding-right: 32px;
      h4 {
        @extend .Roboto500-20-23;
        text-align: center;
        margin: 18px auto 14px auto;
      }
      .closeIcon {
        cursor: pointer;
      }
    }
    .addImageField {
      width: 998px;
      height: 318px;
      padding: 121px 0px 99px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 27px;
      flex-shrink: 0;
      border-radius: 4px;
      border: $dashed-border;
    }
    .icon {
      @extend .Icon-main-style;
      background-color: $second-color;
    }
    input {
      width: 998px;
      height: 44px;
      border-radius: 4px;
      border: $default-border;
    }
    input:focus {
      border: $active-field-border;
      outline: none;
    }
    h5 {
      @extend .Roboto700-16-18;
    }
    .optionName {
      @extend .Roboto700-16-18;
      margin-top: 24px;
      display: block;
    }
    .togglerContainer {
      margin: 24px auto 21px auto;
    }
    .violetButton {
      display: flex;
      justify-content: center;
    }
  }
}
