@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.categories {
  width: $page-width - $sidebar-width;
  padding: 32px 80px 47px 20px;
  margin-left: $sidebar-width;
}
.categories__head {
  display: flex;
  justify-content: space-between;
}
.categories__title {
  @extend .Roboto500-24-28;
  color: $main-text-color;
}
