@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.modal {
  background-color: rgba($main-color, 0.4);;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: -5px;
  right: -20px;
  cursor: pointer;
}

.main {
  span {
    font-weight: 700;
  }
}

.radios__block {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 23px;

  div {
    display: flex;
    gap: 10px;
  }
}

.popupBody {
  max-width: 630px;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 20px 32px;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: right;
  gap: 24px;
}