@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  padding-top: 22px;
 
}
.review_item {
  max-height: 500px;
  overflow-y: auto;
  
}
.review_item_title {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.review_item_title {
  background-color: $second-color;
  
}
.class {
  border-radius: 10px; 
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.review_item_text,
.review_item_name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;

  &:hover,
  &[title] {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    word-wrap: break-word;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }
}
.actionIcon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  & a {
    cursor: pointer;
  }
}
