@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.actions {
    @include text($color: $main-text-color);
  }
  
  .textPrimary {
    @include text($color: $main-text-color)
  }
  
  .MuiDataGrid_columnHeaders {
    background-color: #F8F0FB;
  }
  
  .MuiDataGrid-cell:focus {
    outline: none !important;
  }
  
  .MuiDataGrid-cell:hover {
    overflow: visible !important;
    cursor: pointer;
    text-overflow: clip;
    word-wrap: break-word;
    z-index: 2 !important;
    position: relative;
  }
  
  .MuiDataGrid-cell[data-field='author']:hover::before {
    content: attr(title);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 8px;
  }
  
  .MuiDataGrid-cell[data-field='author']:hover {
    overflow: visible !important;
    white-space: normal !important;
    position: relative;
    cursor: pointer;
  }
  
  .MuiDataGrid-cell[data-field='review']:hover::before {
    content: attr(title);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
  }
  
  .MuiDataGrid-cell[data-field='review']:hover {
    overflow: visible !important;
    white-space: normal !important;
    position: relative;
    text-overflow: clip;
    z-index: 2;
    cursor: pointer;
  }