@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  padding-top: 22px;
}
.review_item {
  max-height: 500px;
  overflow-y: auto;
}
.review_item_title {
  background-color: $second-color;
}

.review_item li {
  display: grid;
  grid-template-columns: 35px 105px 160px repeat(5, 1fr);
  gap: 10px;
  align-items: center;
  padding: 14px;
  color: $main-text-color;
  @extend .Roboto400-16-18;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.review_item p {
  text-align: start;
  margin: 0;
  white-space: nowrap;
}
.review_item_text,
.review_item_name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;

  &:hover,
  &[title] {
    // width: 167px;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    word-wrap: break-word;
    z-index: 2;
    position: relative;
  }
}
.actionIcon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
