@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.styleItems {
    position: absolute;
    top: 45px;
    display: flex;
    flex-direction: column;
    padding: 18px 52px 19px 18px;
    gap: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #FFF;
}
.menu_filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-end;;
    
    gap: 15px;
    margin-right: 20px;
    color: $main-text-color;
    @extend .Roboto400-16-18;
    padding: 0px 0px 0px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu_arrow {
    display: flex;
    padding: 10px;
    background-color: $gray-dropdown-color;
    cursor: pointer;
    pointer-events: auto
  }
  
  .menu_arrow_rotated {
    transform: rotate(180deg);
    // transition: transform 0.3s ease;
  }
  .menu_arrow_span {
    margin-left: 5px;
  }