@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.searchInputContainer {
  position: relative;
  width: 414px;
  height: 44px;
  margin-bottom: 16px;

  .searchInput {
    width: inherit;
    height: inherit;
    outline: none;
    color: #5c5e60;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border: $default-border;

    &:focus + .searchIcon {
      left: 95%;
    }
  }

  .searchIcon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }
}
