@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.searchInputContainer {
  position: relative;
  width: 414px;
  height: 44px;
  margin-bottom: 16px;

  .searchInput {
    width: inherit;
    height: inherit;
    outline: none;
    padding: 10px 10px 10px 40px;

    @include text();
    @include border();
  }

  .searchIcon {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
