@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
}

.greeting {
  @include font-style(24px, 500);
  margin-bottom: 24px;
}

.dashboardCards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.ordersContainer {
  margin-top: 32px;
}

.orders {
  @include font-style(24px, 500);
  margin-bottom: 16px;
}

.table {
  width: 1064px;
  height: 417px;
  background-color: rgb(253, 227, 232);
  margin-top: 36px;
}
