@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.subcategory {
  display: flex;
  width: 628px;
  height: 76px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  border: $default-border;
}
.subcategory__name {
  @extend .Roboto400-20-23;
  color: $main-text-color;
}
.subcategory__edit_icon {
  margin-left: auto;
}
.subcategory__delete_icon {
  margin-left: $margin-second;
}
