@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  width: calc(100vw - #{$sidebar-width});
  padding: 32px 20px 20px 20px;
  position: absolute;
  top: $header-height;
  right: 0;
  background-color: $second-text-color;
}
h2 {
  text-align: start;
  color: $main-text-color;
  @extend.Roboto500-24-28;
  font-style: normal;
}
.foundReview {
  text-align: left;
  max-width: 414px;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.BtnSearch {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 8px;
  background-color: transparent;
}
.FormSearch {
  position: relative;
  margin-top: 28px;
}

.menu_list a {
  text-decoration: none;
}
.menu {
  margin-top: 22px;
}
.menu_list {
  display: flex;
}
.menu_link {
  color: $main-text-color;
  @extend .Roboto400-16-18;
}
.menu_list li {
  position: relative;
}
.menu_list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  gap: 5px;
  margin-right: 20px;
  color: $main-text-color;
  @extend .Roboto400-16-18;
  padding: 0px 0px 0px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu_arrow {
  padding: 10px;
  background-color: $gray-dropdown-color;
  justify-content: end;
}

.menu_arrow_rotated {
  transform: rotate(180deg);
  // transition: transform 0.3s ease;
}
.menu_arrow_span {
  margin-left: 5px;
}
