@import "/src/styles/variables.scss";

@mixin text($color: $main-text-color, $font-size: 16px, $font-weight: 400) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin border($radius: 4px, $border: $default-border) {
  border: $border;
  border-radius: $radius;
}

.Roboto400-14 {
  font-size: 14px;
  line-height: normal;
}
.Roboto400-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.Roboto400-16-18 {
  // in use
  line-height: 18.75px;
}

.Roboto400-20-23 {
  // in use
  font-size: 20px;
  line-height: 23.44px;
}

.Roboto600-16-18 {
  // in use
  font-weight: 600;
  line-height: 18.75px;
}

.Roboto500-20-23 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}

.Roboto500-24-28 {
  // in use
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
}

.Roboto700-16-18 {
  font-weight: 700;
  line-height: 18.75px;
}
.Roboto700-20-23 {
  // in use
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
}
.Roboto700-24-28 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.Roboto700-48-56 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.Icon-main-style {
  width: 52px;
  height: 52px;
  background-color: $main-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Violet-button-styles {
  // in use
  display: flex;
  justify-content: center;
  align-items: center;

  width: 197px;
  height: 43px;
  padding: 12px 9px;

  @include text($color: $second-color, $font-weight: 600);
  @include border($border: none);

  background-color: $main-color;
  text-transform: uppercase;
  cursor: pointer;
}

.Disabled-button-styles {
  opacity: 0.5;
  cursor: not-allowed;
}
.icon-pointer-fill {
  cursor: pointer;
  &:hover circle {
    fill: $hover-icon-color;
  }
}
.icon-pointer-bgColor {
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: $second-color;
  }
}
@mixin borderType($border-radius, $border: $default-border) {
  border: $border;
  border-radius: $border-radius;
}

@mixin font($size: $fs-m, $weight: $fw-normal, $height: $flh-sm) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
