@import "/src/styles/variables.scss";

.Roboto400-14 {
  font-size: 14px;
  line-height: normal;
}
.Roboto400-16-18 {
  // in use
  line-height: 18.75px;
}
.Roboto400-20-23 {
  // in use
  font-size: 20px;
  line-height: 23.44px;
}
.Roboto600-16-18 {
  // in use
  font-weight: 600;
  line-height: 18.75px;
}
.Roboto500-20-23 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}

.Roboto500-24-28 {
  // in use
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
}
.Roboto700-16-18 {
  font-weight: 700;
  line-height: 18.75px;
}
.Roboto700-20-23 {
  // in use
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
}
.Roboto700-24-28 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.Roboto700-48-56 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.Icon-main-style {
  width: 52px;
  height: 52px;
  background-color: $main-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Violet-button-styles {
  @extend .Roboto600-16-18;
  padding: 12px 9px;
  background-color: $main-color;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $second-text-color;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.Disabled-button-styles {
  opacity: 0.5;
  cursor: not-allowed;
}

@mixin borderType($border-radius, $border: $default-border) {
  border: $border;
  border-radius: $border-radius;
}
