// colors
$main-color: #948ad0;
$second-color: #f8f0fb;
$gray-dropdown-color: #e1dddd;
$toggler-off-color: #c3cdc7;
$toggler-on-color: green;
//text-colors
$main-text-color: #5c5e60;
$second-text-color: #fff;
$blue-text-color: #176fc7;
$error-text-color: red;
//icons-colors
$first-icon-color: #fff;
$second-icon-color: #5c5e60;
$hover-icon-color: #176fc7;

// sizes
$header-height: 80px;
$sidebar-width: 276px;
$page-width: 1440px;
$input-height: 44px;

//indents
$margin-main: 24px;
$margin-second: 12px;
$margin-third: 27px;
$padding-main: 24px;
$padding-input: 10px;

// other styles
$border-radius: 4px;
$default-border: 1px solid #0000001a;
$dashed-border: 1px dashed rgba(0, 0, 0, 0.2);
$active-field-border: 2px solid #948ad0;
$error-field-border: 1px solid #d55e5e;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//font sizes
$fs-sm: 14px;
$fs-m: 16px;
$fs-l: 18px;
$fs-xl: 20px;
$fs-xxl: 24px;
$fs-xxxl: 48px;

//font weights
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

//font line-heigts
$flh-sm: 18.75px;
$flh-m: 23.44px;
$flh-l: 28.13px;

$optionHover: white;
$optionSelected: white;
