// colors
$main-color: #948ad0;
$second-color: #f8f0fb;
$main-text-color: #5c5e60;
$gray-dropdown-color: #e1dddd;
$toggler-off-color: #c3cdc7;
$toggler-on-color: green;
$second-text-color: #fff;
$blue-text-color: #176FC7;

// sizes
$header-height: 80px;
$sidebar-width: 276px;
$page-width: 1440px;

// other styles
$default-border: 1px solid #0000001a;
$dashed-border: 1px dashed rgba(0, 0, 0, 0.2);
$active-field-border: 2px solid #948ad0;

$optionHover: white;
$optionSelected: white;