// colors
$main-color: #948ad0;
$second-color: #f8f0fb;
$main-text-color: #5c5e60;
$gray-dropdown-color: #e1dddd;
$toggler-off-color: #C3CDC7;
$toggler-on-color: green ;

// sizes
$header-height: 80px;
$sidebar-width: 276px;
$page-width: 1440px;

// other styles
$default-border: 1px solid #0000001A;
$dashed-border: 1px dashed rgba(0, 0, 0, 0.20);
$active-field-border: 2px solid #948AD0;