@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.borderOuter {
  margin-top: $margin-main;
  padding: $padding-main;
}
.head {
  display: flex;
  align-items: center;
}
h4 {
  @extend .Roboto500-20-23;
  color: $main-text-color;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.addIcon {
  display: block;
  margin: auto;
  circle {
    fill: $second-color;
  }
  path {
    fill: $second-icon-color;
  }
}
textarea.textArea {
  height: 106px;
  resize: none;
}
