@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  @include optionsForToolsPanel;
}
.option {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding: 18px 10px 0 18px;
}

.lastOption {
  padding-bottom: 18px;
}

.suboption {
  padding: 14px 0 0 32px;
  &:hover {
    background-color: $optionHover;
  }
}

.lastSuboption {
  padding-bottom: 18px;
}

.clicked {
  background-color: $optionSelected;
}
