@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  @include optionsForToolsPanel;
}
.option {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding: 18px 10px 7px 18px;
}

.suboption {
  padding: 7px 0 7px 32px;
  &:hover {
    background-color: $optionHover;
  }
}

.clicked {
  background-color: $optionSelected;
}
