@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.form {
  display: block;
  color: $main-text-color;
}
.subTitle {
  margin-top: $margin-main;
  @include font($fs-xl, $fw-bold, $flh-m);
}
.label {
  display: block;
  margin-top: $margin-main;
  @include font($fs-m, $fw-semi-bold, $flh-sm);
}
.field {
  @extend .Roboto400-16-18;
  margin-top: 12px;
  padding: $padding-input;
  width: 100%;
  height: $input-height;
  @include border();

  &:focus {
    @include border($border: $active-field-border);
    outline: transparent;
  }
}
.button {
  margin: $margin-main auto 0;
  width: 197px;
}
.error {
  margin-top: $margin-second;
  color: $error-text-color;
  @include font();
}
.disabled {
  background: $toggler-off-color;
  cursor: auto;
}
