.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 58px 0 36px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}

.pagination_info {
  color: #5c5e60;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow_to__left {
  transform: rotate(180deg);
}

.arrow_to__left__disabled {
  transform: rotate(180deg);
  opacity: 0.5;
  cursor: not-allowed;
}

.arrow_to__right__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
