@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  @include optionsForToolsPanel;
  width: 260px;
}

.option {
  height: 24px;
  padding: 16px 0 16px 18px;
}

.option:hover {
  background-color: $optionHover;
}

.selected {
  background-color: $optionSelected;
}
