@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.image {
  width: 581px;
  height: 175px;
  object-fit: contain;
  background-position: center;
  @include border($border: $dashed-border);
}

.image_container {
  position: relative;
}

.image_delete_icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color $transition;

  &:hover {
    background-color: $second-color;
  }
}

.download_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 581px;
  height: 175px;
  margin-bottom: 12px;
  @include border($border: $dashed-border);
  cursor: pointer;
}

.download_text {
  @include text($font-weight: 500);
}

.image_input {
  display: none;
}

.error {
  @include font();
  margin-top: $margin-second;
  color: $error-text-color;
}
