@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.tablePaper {
  border-radius: 4px;
  border: $default-border;
  border-bottom: none;

  .tableHead {
    background-color: $second-color;
  }

  .tableCell {
    color: $main-text-color;
    @extend .Roboto400-16;
  }

  .descriptionCell {
    color: #5a5757;
  }
}
