@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  margin-top: $margin-main;
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  h5 {
    @include font($fs-xl, $fw-bold, $flh-m);
    color: $main-text-color;
  }
  .toggle {
    width: inherit;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $toggler-off-color;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    position: relative;
    transition: background-color 0.3s;
    @include font();
    .toggleCircle {
      width: 24px;
      height: 24px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      transition: left 0.3s, background-color 0.3s;
      left: 6px;
    }
  }
  .toggleActive {
    background-color: $main-color;
    color: white;
    .toggleCircle {
      left: calc(100% - 30px);
      background-color: #7d35da;
    }
  }
}
