@import "/src/styles/variables.scss";

.container {
  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  position: fixed;
  top: $header-height;
  border: $default-border;
  border-left: none;
}
.wrapper {
  width: 149px;
  height: 600px;
  margin-top: 32px;
  margin-left: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $main-text-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
      margin-right: 10px;
    }
  }
  a:hover,
  a:focus {
    color: $main-color;
  }
}
