@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.safeBtn {
  padding: 12px 31px 12px 31px;
  align-self: flex-end;
  border-radius: 8px;
  background-color: $main-color;
  color: $second-text-color;  
  font-weight: $fw-semi-bold;
  line-height: normal;
}

.radioBtn {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 12px;
}
