@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  width: 196px;
  position: relative;

  z-index: 2;

  @extend .Roboto400-16-18;
  .fieldContainer {
    position: relative;
    width: inherit;
    height: 44px;
    border: $default-border;
    border-bottom: none;
    padding-left: 40px;
    display: flex;
    align-items: center;
    .icon {
      position: absolute;
      top: 10px;
      left: 8px;
    }
    .dropdownArrow {
      position: absolute;
      width: 44px;
      height: 44px;
      background-color: $gray-dropdown-color;
      top: 0px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .optionListContainer {
    background-color: $second-text-color;
    z-index: 1;
    border: $default-border;
    position: absolute;
    width: inherit;

    background-color: #fff;
    z-index: 3;

    ul {
      padding: 0;
      li {
        @extend .Roboto400-16-18;
        padding: 10px 24px;
      }
      li:hover {
        background-color: $gray-dropdown-color;
      }
    }
  }
}
