@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.table {
  height: 400px;
  width: 100%;
}

.headerCell {
  background-color: $second-color;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.svg {
  width: 30px;
  height: 30px;
}
// .Box {
//   height: 500;
//   width: 100%;
//   & .actions {
//     color: 'text.secondary';
//   }
//   & .textprimary {
//     color: 'text.primary';
//   }
//   .MuiDataGrid-columnHeaders {
//     background-color: '#F8F0FB';
//   }
// }
