@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.cardContainer {
  width: 522px;
  height: 202px;
  flex-shrink: 0;
  border: $default-border;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  @include font-style(20px);
}

.monthsQuantity {
  @include font-style(48px, 600);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include font-style(20px, 500);
}

.iconContainer {
  @extend .Icon-main-style;
}
