@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  @include optionsForToolsPanel;
}

.option {
  height: 24px;
  padding: 16px 0 16px 18px;
  &:hover {
    background-color: $optionHover;
  }
}